#footer{
    position: fixed;
    width: 100%;
    bottom:0;
    left: 0;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color : white;
}

.side {
    float: left;
    width: 30%;
    height: 300px;
    padding: 20px;
    text-align: center;
    margin-bottom: 80px;
}

#side_02 img{
    width : 320px;
}

.side img{
    margin-top:20px;
    width : 100%;
    border-radius: 1%;
}

#article {
    float: left;
    padding: 20px;
    background-color: #f1f1f1;
}

#article_02{
    float: left;
}

#section{
    margin-top: 80px;
    margin-bottom: 50px;
}

#section:after {
    content: "";
    display: table;
    clear: both;
}

/* smart phone size */
@media screen and (min-width: 320px){
  #section .side, #section #article, #section #article_02{
    width : 80%;
    padding: 40px;
  }
}

@media screen and (max-height: 450px){
    #section .side , #section #article, #section #article_02{
      width : 80%;
      padding: 40px;
    }
}

/* smart tablet pc size */
@media screen and (min-width: 768px){
  #section .side, #section #article, #section #article_02 {
    width : 50%;
  }
  #section #article{
    margin-left: 100px;
    max-width: 60%;
    height: 300px;
  }
}

/* pc size */
@media screen and (min-width: 1224px){
  #section .side {
    width : 30%;
  }
  #section #article ,#section #article_02{
    margin-left: 100px;
    max-width: 50%;
    height: 300px;
  }
}
